/* fonts */

@font-face {
    font-family: 'Roboto-400';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
h1,h2,h3,h4 {
    font-weight: 400;
}
*,*::after,*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Roboto-400';
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #56593D;
}

a {
    text-decoration: none;

}
ol,ul {
    list-style: none;
}
.container {
    width: 100%;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5rem;
    padding-right: 5rem;

}
/* header */

.site-header {
    height: 6rem;
    margin-bottom: 2rem;
}
.site-header .container {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.site-nav {
}
.site-list {
    display: flex;
}
.site-item {
    display: flex;
    margin-right: 6.3rem;
    flex-direction: row;
}
.site-item img {
    width: 10px;
    height: 8px;
}
.sitep-link {
    font-size: 1.6rem;
    line-height: 2.3rem;
    text-transform: uppercase;
    color: #56593D;

}

.site-logo {
    margin-right: 40rem;
    

}

.icons {
    display: flex;
}
.icon:not(:last-child) {
    margin-right: 2rem;
}

/* main */
.site-main {
    flex-grow: 1;
    color: #56593D;
}

/* section one */
.hero .container {
    margin-bottom: 9.4rem; 
}
.hero__bg {
    height: 70rem;
    background-size: cover;
    background-image: url(../images/png/bg.png);
    background-repeat: no-repeat;
    display: flex;   
    align-items: flex-end;
    flex-direction:column;
    justify-content:flex-end;
    padding-right: 64px;
    padding-bottom: 64px;
}
.hero__title {
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: 1.8px;
    margin-bottom: 0.1rem;
}
.hero__second__title {
    font-size: 4.5rem;
    line-height: 6rem;
    margin-bottom: 2.5rem;
    
}
.hero__link {
    font-size: 1.6rem;
    padding: 1.7rem 2.5rem;
    line-height: 2.2rem;
    letter-spacing: 1.575px;
    text-transform: uppercase;  
    background-color: #56593D;
    color: #FFFFEF;
}
.hero__link:hover {
    background-color: blue;
    cursor: pointer;
    color:wheat;
}
.hero__link:active {
    opacity: 0.7;
}

/* section twoo */
.travel {
    margin-bottom: 9.1rem;
}
.container {
}
.t__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.t__text {
    width: 110rem;
    height: 24rem;
    font-size: 5.2rem;
    line-height: 7rem;
    text-align:justify;
    margin-bottom: 2.5rem;
   

}
.t__next {
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: 1.6px;
    display: flex;    
    justify-content: center;
    gap: 7rem;

}
.t__next a{
    border-bottom: 1px solid;
    color: #56593D;
}

/* section thre */
.collection {

}
.collection .container {
    height: 73.8rem;
}
.c__title {
    margin-top: 6.3rem;
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
    font-size: 24px;
    line-height: 32px;
}
.c__list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.c__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.c__bg {
    width: 41.1rem;
    height: 41.1rem;
    margin-bottom: 1.5rem;

}
.c__name {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 7px;
}
.c__cost {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.62px;   
}

/* section foo */
.essentials {
    margin-bottom: 4rem;
}
.essentials .container {
    height: 70rem;
}
.e__bg {
    height: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 62px;
    background-image: url(../images/png/bg5.png);
}
.e__title {
    font-size: 1.7rem;
    line-height: 2.2rem;
    letter-spacing: 1.8px; 
    margin-bottom: 1.1rem 
}
.e__text {
    font-size: 50px;
    text-align: center;
    width: 109.3rem;
    line-height: 60px;
    
}

/* section five */
.design {
    margin-bottom: 8.8rem;
    padding: 10px;
}
.design .container {
    height: 74.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.d__bg {

}
.d__definition {
    width: 34.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.design__title {
    font-size: 29px;
    line-height: 39px;
    margin-bottom: 3.2rem;
}
.line {
    width: 40px;
    height: 1px;
    background-color:#717353;
    border: none;

}
.design__text {
    font-size: 20px;
    margin-top: 3.3rem;
    line-height: 32px;
    text-align: center;
}

/* section sex */
.time {
    margin-bottom: 10.5rem;
}
.time .container {
    height: 74.6rem;
    display: flex;
    justify-content: space-between;
}
.time__definition {
    width: 34rem;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.time__title {
    font-size: 29px;
    line-height: 39px;
    margin-bottom: 3.2rem;
}
.time__text {
    font-size: 20px;
    margin-top: 3.3rem;
    line-height: 32px;
    text-align: center;
}
.time__bg {
}

/* section seven */
.sign__up {
    margin-bottom: 4rem;
}
.sign__up .container {
    height: 27.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s__title {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 1.6rem;
}
.s__text {
    font-size: 17px;
    line-height: 29px;
    margin-bottom: 4.8rem;
}
.inputs {
}
.s__form {
    display: flex;
    gap: 1.641rem;
}
#email {
    width: 33.9rem;
    border: none;
    color: #56593D;
    padding: 10px 5px;
    font-size: 2rem;
    border-bottom: 1px solid #56593D;

}
#email:focus{
    outline: none;
}
.Subscribe {
    padding: 1px 2.5rem;
    font-size: 1.5rem;
    line-height: 2.3rem;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #FFFFEF;
    background-color: #56593D;
    border: none;
    
}
.Subscribe:hover {
    background-color: blue;
    cursor: pointer;
    color:wheat;
}
.Subscribe:active {
    opacity: 0.7;
}
/* section eight */
.pictures {
    margin-bottom: 12.8rem;
}
.pictures .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.2rem 6.4rem;
}
.p__title {
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 3.9rem;
}
.p__list {
    display: flex;
    gap: 8px;
}
.p__item {
}
.p__umg {
    width: 32rem;
    height: 32rem;
}

/* footer */
.site-footer {
    background-color: #56593D;
    color: white;
    height: 40rem;
}
.footer__last {
    width: 125rem;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    margin-top: 6.2rem;
    margin-bottom: 11rem;
}
.footer__part {

}
.one {
}
.one__list {
}
.one__item {
    font-size: 16px;
    line-height: 25px;
   
}
.liner {
    width: 40px;
    height: 1px;
    background-color:#fff;
    border: none;
    margin: 1.5rem 0px;
}
.footer__texts {
    font-size: 16px;
    line-height: 25px;
    width: 25.6rem;
}
.f__title {
    font-size: 16px;
    line-height: 25px;

}
.line {
}
.footer__list {
}
.footer__item {
    font-size: 16px;
    line-height: 25px;

}
.footer__link {
    color: #fff;
    font-size: 16px;
    line-height: 25px;
}
.footer__link:hover {
    color: chocolate;
}
.footer__link:active {
    opacity: 0.5;
}
.footer__icon {
    position: relative;
    right: 0px;
    top: 1rem;
}
.footer__icon:not(:last-child) {
    margin-right: 1.9rem;
}
.icon__img__f img   {
    width: 2.2rem;    
}
